.button-icon-add {
    width: 50px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 5px;
    transition: .5s;
    cursor: pointer;
}

.button-icon-add:hover {
    transition: .5s;
    background-color: #ffffff67;
    border-color: #ffffff67;
}