.page-create-pdf {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container-create-pdf {
  width: 100%;
  display: flex; 
  flex-direction: column;

}

.link-download-page-create {
  padding: 10px;
  background-color: #0dac14;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  display: none; 
}

@media (max-width: 425px) {
  .page-create-pdf {
    height: auto;
  }
  .link-download-page-create {
    display: flex;
  }
}
